



<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/sacco_dash.css" />
</head>
{% extends 'base.html'%}

<body>

    {% block content %}

    <div class="header">
        <!-- <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>Brand</span>
        </div> -->
        <a href="#" class="nav-trigger"><span></span></a>
    </div>
    <div class="side-nav">
        <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>M-Fare</span>
        </div>
        <br>
        <br>
        <nav>
            <ul>
                <li class="active">
                    <a href="#">
                        <span><i class="fa fa-user"></i></span>
                        <span>New Route</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fa fa-envelope"></i></span>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fa fa-envelope"></i></span>
                        <span>Messages</span>
                    </a>

                </li>
                <li class="">
                    <a href="#">
                        <span><i class="fa fa-bar-chart"></i></span>
                        <span>Analytics</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fa fa-credit-card-alt"></i></span>
                        <span>Payments</span>
                    </a>
                </li><br><br>
                <li>
                    <a href="index.html">
                        <span><i class="fa fa-home"></i></span>
                        <span>Dashboard HOME</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container main-content jumbotron" style="margin-left: 180px;">
        <div class="container first">
            <div>
                <div>
                    <div class="card">
                        <div class="card-header">
                            <h5>Our Routes</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                {% for saco in sac %}
                                <li style="list-style: none;">{{saco}} <br><button class="btn btn-success">PAY: 600/=</button></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="{{url_for('urls.africa_talking')}}"><button>SEND TEXTS</button></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>