{% extends 'base.html' %}
{% block content %}
<head>

</head>
<body>
    <div>
        <div class="row" style="background-color:#CA9326">
            <div class="col-md-7">
                <div>
                <img src="/static/annie-spratt-256172-unsplash.jpg" style="width: 800px;">
                </div>
            </div>
            <div class="col-md-5 container" style="margin-top: 12em;">
                <h1 style="text-align: center;margin-right: 80px; font-size: 70px; text-color: white;"><strong><em style="text-color: white;">READY SET </br> RIDE</em></strong></h1>
            </div>
        </div>
    </div>
        
    <div class="jumbotron" style="height:200px; background-color: #E1DB94" >
        <h1 style="margin-left: 4em; text-color: #fff; font-size: 50px;"><em><strong>YOUR DESTINATION ?</strong></em></h1>
    </div>

    <div class="card" style="text-align: center; width: 400px; margin-left: 30em; background-color:#566365">
        <h3 style=" font-size: 40px;"><strong><em> WHAT WE OFFER</em></strong> </h3>
    </div>
    <div>
    </div>
</body>
{% endblock %}