{% extends 'base.html' %}
{% block content %}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/1.1.0/css/material-kit.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Cinzel|Comfortaa|Cormorant+Garamond|Courgette|Inconsolata|Josefin+Sans|Monoton|Notable|Pacifico|Pathway+Gothic+One|Poiret+One|Quicksand|Righteous"
        rel="stylesheet">
</head>

<body style="background-color:#FAFAF3">
    <div>
        <div class="row" style="background-color:#546170">
            <div class="col-md-7">
                <div>
                    <img src="/static/annie-spratt-256172-unsplash.jpg" style="width: 800px;">
                </div>
            </div>
            <div class="col-md-5 container" style="margin-top: 12em;">
                <h1 style="text-align: center;margin-right: 80px; font-size: 70px; color: white;"><strong><em style="text-color: white; font-family: Poiret One;">READY
                            SET </br> RIDE</em></strong></h1>
            </div>
        </div>
    </div>

    <div class="jumbotron" style="height:200px; background-color:#23708D">
        <h1 style="margin-left: 4em; color: white; font-size: 50px; font-family: Poiret One;"><em><strong>YOUR
                    DESTINATION ?</strong></em></h1>
    </div>
    <div style="background-color:#FAFAF3">
        <div class="container" style="width: 2000px;background-color: #fff;">
            <div style="text-align: center; width: 400px; margin-left: 22em;">
                <h3 style=" font-size: 40px; font-family: Cinzel;"><strong><em> OUR SERVICES</em></strong> </h3>
            </div>
            <div class="row container">
                <div class="col-md-6">
                    <div class="card card-nav-tabs" style="border-radius: 42px 42px 42px 42px;-moz-border-radius: 42px 42px 42px 42px;border: 0px solid #000000;-webkit-border-radius: 42px 42px 42px 42px;box-shadow: 6px 2px 32px 0px rgba(0,0,0,0.75);">
                        <h4 class="card-header card-header-success" style="background-color:#546170;text-align: center; font-family: Cinzel;">
                            PARTNERS</h4>
                        <div class="card-body">
                            <P class="Card-text" style="text-align: center;font-family: Abel; font-size: 20px;">Join us
                                and make your customers partners in your mission; let your passengers find and pay you
                                with ease.</P>
                            <a href="{{url_for('sacco_auth.register')}}" class="btn btn-primary" style="margin-left: 150px;background-color:#375376">GET
                                STARTED</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-nav-tabs" style="height: 214px; border-radius: 42px 42px 42px 42px; box-shadow: 6px 2px 32px 0px rgba(0,0,0,0.75);">
                        <h4 class="card-header card-header" style="background-color:#546170; color: white; text-align: center; font-family: Cinzel">RIDERS</h4>
                        <div class="card-body">
                            <P class="Card-text" style="text-align: center; font-family: Abel;font-size: 20px">Sign Up,
                                find your destination and pay with Ease</P>
                            <a href="{{url_for('user_auth.register')}}" style="margin-left:180px;background-color:#375376;" class="btn btn-primary">SIGN
                                UP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <body>
        <!-- Footer -->
        <footer class="page-footer font-small indigo" style="background-color: #87ceeb; margin-top: 2em;">
            <!-- Footer Links -->
            <div class="container">
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                    <!-- Grid column -->
                    <div class="col-md-2 mb-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" style="color: white;">About us</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 mb-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" style="color: white;">Services</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 mb-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" style="color: white;">Contact</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
                <hr class="rgba-white-light" style="margin: 0 15%;">
                <!-- Grid row-->
                <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
                    <!-- Grid column -->
                    <div class="col-md-8 col-12 mt-5">
                        <p style="line-height: 1.7rem"> Our mission is to create an efficient transport system connecting passengers and carriers with ease and convenience.</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
                <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
                <!-- Grid row-->
                <div class="row pb-3">
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <div class="mb-5 flex-center">
                            <!-- Facebook -->
                            <a class="fb-ic">
                                <i class="fa fa-facebook fa-lg white-text mr-4"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="tw-ic">
                                <i class="fa fa-twitter fa-lg white-text mr-4"> </i>
                            </a>
                            <!-- Google +-->
                            <a class="gplus-ic">
                                <i class="fa fa-google-plus fa-lg white-text mr-4"> </i>
                            </a>
                            <!--Linkedin -->
                            <a class="li-ic">
                                <i class="fa fa-linkedin fa-lg white-text mr-4"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic">
                                <i class="fa fa-instagram fa-lg white-text mr-4"> </i>
                            </a>
                            <!--Pinterest-->
                            <a class="pin-ic">
                                <i class="fa fa-pinterest fa-lg white-text"> </i>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row-->
            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="{{url_for('main.index')}}" style="color: white;"> M-FARE</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </body>
</body>
{% endblock %}